<h1>I hope this turns out to be a beautiful website by the end of the course.</h1>

<%= button_to 'Articles list', articles_path, method: :get%> 
<br>
<%= button_to 'Home page', root_path, method: :get%>