<h1> Blog made while watching the classes of the course '
The Complete Ruby on Rails Developer Course'.
<br>This is a work in progress blog, ok?</h1>

<%= button_to 'Articles list', articles_path, method: :get%> 
<br>
<%= button_to 'About page', about_path, method: :get%>